# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Poetry
#poetry.lock
#poetry.toml

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# lib files
lib/

