biopython
networkx
numpy
pandas
scipy
plotly==5.22.0
pyvis
PyYAML
requests
scipy
streamlit==1.32.2
streamlit-aggrid==0.3.4.post3
streamlit-extras==0.4.2
streamlit-option-menu==0.3.12
stvis
urllib3
jsonapi-client
scikit-learn
scikit-bio==0.5.9 
seaborn
colorcet