biopython
networkx
numpy
pandas
scipy
plotly
pyvis
PyYAML
requests
scipy
streamlit
streamlit-aggrid==0.3.4.post3
streamlit_extras
streamlit-option-menu
stvis
urllib3
jsonapi-client
scikit-learn
scikit-bio 
seaborn
colorcet